@model AssetManagerTest.Models.Asset

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Asset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressLine2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressLine3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddressLine3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Town)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Town)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AssetId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
